body {
    background-color: #101010;
}

$logo-color1: #4ADD8F;
$logo-color2: #7337FD;

.cvat-login-text-title {
    margin-bottom: 0.5em;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    line-height: 2;
}

.cvat-login-text-color {
    color: #fff;
}

.cvat-logo-color-login-1 {
    color: $logo-color1;
    font-weight: 700;
    font-size: 100px;
    margin-left: 10px;
}

.cvat-logo-color-login-2 {
    color: $logo-color2;
    font-weight: 700;
    font-size: 100px;
    margin-right: 20px;
}